<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koshi Higher Secondary School</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <ul style="width: 102.4%;" class="header__nav">
        <li class="header__list"><a href="{% url 'landing_page' %}" class="header__link header__link--active">Home</a> </li>
        <li class="header__list"> <a href="{% url 'about' %}" class="header__link">About</a></li>
        <li class="header__list"><a href="{% url 'events' %}" class="header__link">Events</a></li>
        {% if user.is_authenticated %}
            <li class="header__list"><a href="{% url 'view_result' %}" class="header__link">View result</a></li>
            <li class="header__list"><a href="{% url 'add_result' %}" class="header__link">Add Result</a></li>
            <li class="header__list"><img height="30" width="30" style="border-radius: 50px;" src="{% static 'Images/principal.jpg' %}" alt=""></li>
            <li class="header__list"><a href="" class="header__link">{{user}}</a></li>
            <li class="header__list"><a href="{% url 'logout' %}" class="header__link">Logout</a></li>

        {% else %}
            <li class="header__list"><a href="{% url 'register' %}" class="header__link">Signup</a></li>
            <li class="header__list"><a href="{% url 'login' %}" class="header__link">Login</a></li>
        {% endif %}
    </ul>
    {% block content %}


    {% endblock %}
  <script src="{% static 'JS/src.js' %}"></script>
</body>
</html>