{% extends 'base.html' %}
{% block content %}

    <div class="cont-edetail">
        <div class="cont-edetail__left">
            <div class="cont-edetail__card">

                <img height="500" width="900" src="{{event.featured_image.url}}" alt="">
            </div>

            <div class="cont-edetail__card">
                <h1 class="cont-edetail__event-heading">
                    {{event.title}}
                </h1>
                <p class="cont-edetail__desc">
                    Description: {{event.description}}
                </p>
                <p class="cont-edetail__desc">
                    Start Date:  {{event.start_date}} </p>
                <p class="cont-edetail__desc">
                    End Date: {{event.end_date}}
                </p>
                <p class="cont-edetail__desc">
                    Teacher: {{event.teacher}}
                </p>
            </div>
        </div>


        <div class="cont-edetail__right">
            {% for evnt in events %}
            <div class="card">
                <img height="300" width="400" src="{{evnt.featured_image.url}}" alt="">
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}